.sequencer-container {
    background-color: red;
}

.sequencer-column {
    float: left;
}

.sequencer-key {
    height: 17px;
    width: 17px;
}

.sequencer-cell {
    background-color: white;
    border: 1px solid black;
    height: 17px;
    width: 17px;
}