h1 {
  color: black;
  text-align: center;
  font-size: 50px;
  font:open-sens;
}

.container{
	border: 10px;
	border-color: white;
	width: absolute;
	height: absolute;
	margin: absolute;
}

.sequencer {
	border: 1px;
}

.column {
    float: left;
    padding: 3px;
}

.container .cell {
    border: 1px solid black;
    height: 40px;
    width: 120px;
    border-radius: 5px;
    padding: 5px;
    margin: 3px;
}

.container2 .cell {
    border: 1px solid black;
    height: 40px;
    width: 120px;
    border-radius: 5px;
    padding-bottom: 10px;
    margin: 3px;
}

.oscillator-notes {
	float: left;
	padding: 10px 1px;
	vertical-align: baseline;
	text-align: center;
	display: block;
  	float: both;
}

.note {
	height: 58px;
	width: auto;
	margin: auto;
  	vertical-align: baseline;
	text-align: center;
	display: block;
  	float: both;
}

.scale {
  height: 50px;
  width: 75%;
  font-size: 16px;
  margin: auto;
  text-align: center;
  display: block;
}

.selected {
    background-color: red;
}

.btn-group .buttons {
	border: 3px solid black;
	width: 50%;
	padding: 16px 32px;
	margin: auto;
	text-align: center;
	display: inline-block;
	font-size: 24px;
	background-color: white;
	color: black;
	transition-duration: 0.4s;
	cursor: pointer;
	float: left
}

.btn-group .buttons:hover {
	background-color: lightgrey;
}

.bpm-slider {
	color: black;
	margin: auto;
	text-align: center;
	font-size: 30px;
	font:open-sens;
}

.slider{
  color: white;
  margin: 10px;
  width: 93%;
  position: center;
}

.filter {
  height: auto;
  width: auto;
  position: right;
  margin: right;
  display: inline-block;
  font-size: 24px;
  padding-left: 3px;
}

.wave {
  font-size: 16px;
  padding-left: 10px;
  width: absolute;
  height: absolute;
  margin: absolute;
  text-align: center;
  display: inline-block;
}

.reverb{
  color: white;
  margin: auto;
  width: auto;
  position: center;
}

.volumeGain{
  color: white;
  margin: auto;
  width: auto;
  position: center;
}

.Distortion{
  color: white;
  margin: auto;
  width: auto;
  position: center;
}

.Wet{
  color: white;
  margin: auto;
  width: auto;
  position: center;
}

.Cheby{
  color: white;
  margin: auto;
  width: auto;
  position: center;
}

.Bit{
  color: white;
  margin: auto;
  width: auto;
  position: center;
}

.filter2{
  height: auto;
  width: auto;
  position: right;
  margin: right;
  display: inline-block;
  font-size: 24px;
  padding-left: 3px;
}

.reverbSamper{
  color: white;
  margin: auto;
  width: auto;
  position: center;
}

.volumeGainSampler{
  color: white;
  margin: auto;
  width: auto;
  position: center;
}