body {
  min-width: 1820px;
}

h1 {
  color: black;
  text-align: center;
  font-size: 50px;
  font:open-sens;
}

.container{
	border: 10px;
	border-color: white;
  margin: 0 auto;
  width: 1490px;
  height: 380px;
}

.sequencer {
	border: 1px;
}

.column {
    float: left;
    padding: 3px;
    padding-left: 10px
}

.cell {
    border: 1px solid black;
    height: 40px;
    width: 120px;
    border-radius: 5px;
    margin: 5px;
    margin-left: 5px;
    margin-bottom: 5px;
    margin-top: 5px;
}

.oscillator-notes {
	float: left;
	padding: 5px 1px;
	vertical-align: baseline;
	text-align: center;
	display: block;
}

.note {
	height: 48px;
	text-align: center;
  float: both;
}

.selected {
    background-color: darkgrey;
}

.btn-group .buttons {
	border: 3px solid black;
	width: 50%;
	padding: 16px 32px;
	margin: auto;
	text-align: center;
	display: inline-block;
	font-size: 24px;
	background-color: white;
	color: black;
	transition-duration: 0.4s;
	cursor: pointer;
	float: left
}

.btn-group .buttons:hover {
	background-color: lightgrey;
}

.bpm-slider {
	color: black;
  text-align: center;
  display: inline-block;
  width: 50%;
	font-size: 30px;
	font:open-sens;
}

.slider{
  color: black;
  margin: 10px;
  width: 93%;
  position: center;
}

.filter {
  font-size: 28px;
  text-align: left;
  padding-left: 3px;
}

.select-box {
  font-size: 16px;
  padding-left: 10px;
  width: absolute;
  height: absolute;
  margin: absolute;
  text-align: center;
  display: inline-block;
}

.slider-container{
  width: auto;
  position: center;
}

.float-right {
  float: right;
}
