body {
  background-color: lightblue;
  }

h1 {
  color: black;
  text-align: center;
  font-size: 50px;
}

.container{
  border: 20px;
  border-color: blue;
}

.oss{
  color: white;
  margin-left: 1250px;
  margin-top: 70px;
  font-size:30px;
}

.samp{
  color: black;
  margin-left: 1250px;
  margin-top: -30px;
  font-size:30px;
}

.val{
  background-color: lightgrey;
  color: white;
  padding: 100px;
}

.freq{
  color: white;
  margin-left: 1250px;
  font-size:30px;
}

.freq2{
  color: white;
  margin-left: 1250px;
  font-size:30px;
}

.reverb{
  color: white;
  margin-left: 1250px;
  font-size:30px;
}

.reverb2{
  color: white;
  margin-left: 1250px;
  font-size:30px;
}

.volumeGain{
  color: white;
  margin-left: 1250px;
  margin-bottom: 80px;
  font-size:30px;
}

.volumeGain2{
  color: white;
  margin-left: 1250px;
  margin-top: 30px;
  margin-bottom: -80px;
  font-size:30px;
}

.buttons {
  color: white;
  margin-top: -980px;
  font-size: 20px;
  position: auto;
  border: 1px;
  cursor: pointer;
  padding: 10px;
  }

.bpm-slider {
  color: white;
  margin-top: auto;
  font-size: 22px;
}

.slider1{
  color: blue;
  size: 100px;
  width: 18%;
}

.slider2{
  color: white;
  size: 100px;
  width: 62%;
}

.slider3{
  color: white;
  size: 100px;
  width: 73%;
}

.slider4{
  color: grey;
  size: 100px;
  width: 62%;
}

.slider5{
  color: white;
  size: 100px;
  width: 73%;
}

.sequencer {
  color: white;
  display: inline-block;
  border: 1px solid black;
  position: auto;
  margin: auto;
}

.column {
  color: white;
  float: left;
}

.cell {
    color: white;
    border: 1px solid white;
    height: 50px;
    width: 150px;
}

.selected {
  background-color: blue;
}

   /*randomColor;